@media screen and (max-width: 360px) and (max-height: 760px) {
  img[src="/about-pic.jpg"] {
    display: none;
  }
  h4 {
    display: none;
  }
  p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .contactInput {
    width: 100%;
  }
  h5 {
    display: none;
  }
  h4 {
    display: none;
  }
  form {
    max-width: 100%;
  }
  header {
    padding: 18px;
  }

  .heroButton {
    font-size: 12px;
    padding: 6px 8px;
    margin-right: 1px;
  }
}
