@media screen and (max-width: 360px) and (max-height: 760px) {
  h4 {
    display: none;
  }

  img[src="https://scontent.fjdo1-1.fna.fbcdn.net/v/t1.6435-9/204137399_4085602471509432_9170933146261212015_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=730e14&_nc_ohc=9nPP2cjLNk0AX870Lr-&_nc_ht=scontent.fjdo1-1.fna&oh=00_AfCYyCEwRlVGIQUyeT_KcXGmy1vQfgxlEnoJX65QXfbbHA&oe=6414699B"]
  {
    display: none;
  }

  p {
    font-size: 14px;
  }
}

@media screen and (max-width: 640px) {
  .contactInput {
    width: 100%;
  }
  h4 {
    display: none;
  }
  form {
    max-width: 100%;
  }
}
